<h4 class="box">please input your favorite ingredients</h4>
<div class="box">
  <span>Meat: </span>
  <input type="text" [(ngModel)]="ingredientMeat">
</div>

<div class="box">
  <span>Eggs: </span>
  <input type="text" [(ngModel)]="ingredientEgg">
</div>

<div class="box">
  <span>Vege: </span>
  <input type="text" [(ngModel)]="ingredientVege">
</div>

<div class="box">
  <span>Other: </span>
  <input type="text" [(ngModel)]="ingredientOther">
</div>

<div *ngIf="isCheck" class="box">
  Here are the dishes {{ dishName }}
</div>

<div class="box">
  <button (click)="check()">
    Check the Menu
  </button>
<!--  <button (click)="signOut()">-->
<!--    Clear Input-->
<!--  </button>-->
</div>

<!--<h4>This is a StudentList managed by ngfor loop</h4>-->
<!--<div *ngFor="let student of students">-->
<!--  <div style="margin-bottom: 2px;border-left: solid 2px; border-right: solid 2px; border-bottom: solid 2px; border-top: solid 2px; display: flex; justify-content: space-between">-->
<!--    <div><span style="color: cornflowerblue; margin-right: 5px">Student Name: </span> <span> {{ student.name }}</span></div>-->

<!--    <div><span style="color: cornflowerblue; margin-right: 5px;">Student Major: </span> <span>{{ student.major }}</span></div>-->
<!--  </div>-->
<!--</div>-->
